header{
  position: relative;
  width: 100%;
  height: 100%;

  .menu-base{
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    max-height: 70px;
    z-index: 999;
    background-color: $color-green;

    .wrap.center {
      justify-content: space-between;
      display: flex;
      width: 100%;
    }

    .wrap{
      display: flex;
      display: -webkit-flex; /* Safari */
      flex-wrap: wrap;
      align-content: space-between;
      align-items: center;
      -webkit-align-items: center; /* Safari 7.0+ */
      padding: 15px;
      max-width: 100%;
      height: 100%;

      .toggle{
        width:40px;
        text-align: center;
        @include rotate(90);

        button{
          width: 100%;
          height: auto;
          padding: 0 10px;

          svg{
            stroke: $color-blue;
          }
        }
      }

      .social{
          text-align: right;
          width: 100px;

          a{

            svg{
              width: 18px;
              height: auto;
              fill: $color-blue;
              display: inline-block;
              vertical-align: middle;
              margin: 0 5px;
              transition: all 0.2s ease-out;
              @include scale(1);
            }
          }
      }
    }

   .logo{
     width: 40px;
     height: auto;
     display: block;

     @include sm{
       width: 50px;
     }
    }

    .rm-col{
      width: calc(50% - 60px);
    }

    @include xl{
      position: fixed;
      top: 0;
      right: auto;
      bottom: 0;
      left: 0;
      height: 100vh;
      width: 85px;
      max-width: 85px;
      max-height: 100%;

      .wrap{
        padding: 30px 20px;
        max-width: 420px;

        .toggle{
          width: 100%;
          text-align: center;
          @include rotate(180);

          button{
            width: 100%;
            height: auto;
            padding: 20px 11px;

            svg{
              stroke: $color-blue;
            }
          }
        }

        .social{
          text-align: center;
          width: 100%;

          a{

            svg{
              width: 18px;
              height: auto;
              fill: $color-blue;
              display: block;
              margin: 30px auto;
              transition: all 0.2s ease-out;
              @include scale(1);
            }

            &:hover{

              svg{
                fill: #ffffff;
                @include scale(1.15);
                -webkit-filter: drop-shadow(-4px 3px 2px rgba(0, 56, 100, 0.15));
                filter: drop-shadow(-5px 3px 2px rgba(0, 56, 100, 0.15));
              }
            }
          }
        }
      }

      .logo{
        width: 120px;
        height: 70px;
        display: block;
       }
    }
  }
}
